@model WebApp.Models.Facultad

@{
    ViewData["Title"] = "Detalles";
}

<div class="col-8">
    <div class="card">
        <div class="card-header">
            <h4 class="p-3 mb-2 bg-primary text-white text-center">Detalles</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <dl class="row">
                    <div class="col">
                        <dt>
                            Nombre
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NombreFacultad)
                        </dd>
                        <dt>
                            Código
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Codigo)
                        </dd>                       
                    </div>
                    <div class="col">
                        <dt>
                            Teléfono
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Telefono)
                        </dd>
                        <dt>
                            Decano
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NombreDecano)
                        </dd>
                    </div>
                    <div class="col">
                        <dt>
                            @Html.DisplayNameFor(model => model.Ubicación)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Ubicación)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Estado)
                        </dd>
                    </div>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Index" class="btn btn-secondary">Regresar </a>
            </div>
        </div>
    </div>
</div>