@model WebApp.Models.Facultad
@using WebApp.Models.Enums;
@{
    ViewData["Title"] = "Estado";
}

<h1>Estado</h1>

<h3>
    @if (Model.Estado == Estados.Activo)
    {
        <span>¿Está seguro que desea inactivar esto?</span>
    }
    else
    {
        <span>¿Está seguro que desea activar esto?</span>

    }
</h3>
<div>
    <h4>Facultad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreFacultad)
        </dd>
        <dt class = "col-sm-2">
            Código
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            Decano
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDecano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicación)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicación)
        </dd>
        <dt class = "col-sm-2">
            Teléfono
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="ConfirmarEstado">
        <input type="hidden" asp-for="Id" />
        @if (Model.Estado == Estados.Activo)
        {

            <input type="submit" value="Inactivar" class="btn btn-danger" />
        }
        else
        {

            <input type="submit" value="Activar" class="btn btn-danger" />

        } 
        <a asp-action="Index" class="btn btn-secondary">Regresar </a>
    </form>
</div>
