@model IEnumerable<WebApp.Models.Facultad>

@{
    ViewData["Title"] = "Facultades";
}

<h1>Facultades</h1>

<p>
    <a asp-action="Create">Crear facultad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Nombre
            </th>
            <th>
                Codigo
            </th>
            <th>
                Decano
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicación)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacultadNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultadCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDecano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicación)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacultadId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.FacultadId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.FacultadId">Eliminar</a> |
                <a asp-action="Estado" asp-route-id="@item.FacultadId">

                    @if (item.EstadoId == "A")
                    {
                        <span> Inactivar </span>
                    }
                    else
                    {
                        <span> Activar </span>
                    }

                </a>
            </td>
        </tr>
}
    </tbody>
</table>
