@model IEnumerable<WebApp.Models.Facultad>
@using WebApp.Models.Enums;

@{
    ViewData["Title"] = "Facultades";
}

<h1>Facultades</h1>

<p>
    <a asp-action="Create">Crear facultad</a>
</p>
<table id="faculties-tb" class="table">
    <thead>
        <tr>
            <th>
               Nombre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                Decano
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicación)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                <span id="fc-state-head">@Html.DisplayNameFor(model => model.Estado)</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreFacultad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDecano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicación)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"  class="btn btn-primary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                <a asp-action="Estado" asp-route-id="@item.Id">

                    @if (item.Estado == Estados.Activo)
                    {
                        <span class="btn btn-warning"> Inactivar </span>
                    }
                    else
                    {
                        <span class="btn btn-success"> Activar </span>
                    }

                </a>
            </td>
        </tr>
}
    </tbody>
</table>
