@model IEnumerable<WebApp.Models.Campus>
@using WebApp.Models

@{
    ViewData["Title"] = "Lista de Campus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Campus</h1>

<p>
    <a asp-action="Create">Registar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CampusCodigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampusNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CampusCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampusNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CampusId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CampusId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CampusId">Eliminar</a> |
                @if (item.EstadoId == "A")
                {
                    <a asp-action="Inactivate" asp-route-id="@item.CampusId">Inactivar</a>
                }
                else
                {
                    <a asp-action="Activate" asp-route-id="@item.CampusId">Activar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
