@model WebApp.Models.Calificaciones

@{
    ViewData["Title"] = "Calificaciones";
}

<div class="col-8">
    <div class="card">
        <div class="card-header">
            <h4 class="p-3 mb-2 bg-primary text-white text-center">Detalles</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <dl class="row">
                    <div class="col">
                        <dt>
                            @Html.DisplayNameFor(model => model.Calificacion)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Calificacion)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Estado.EstadoNombre)
                        </dd>
                    </div>
                    <div class="col">
                        <dt>
                            @Html.DisplayNameFor(model => model.Usuario)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Usuario.primer_apellido)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Modulo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Modulo.Titulo)
                        </dd>
                    </div>
                </dl>
            </div>
            <div>
                <a asp-action="Edit"  class="btn btn-primary" asp-route-id="@Model.Id">Modificar</a> 
                <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>
        </div>
    </div>
</div>