@model IEnumerable<WebApp.Models.Calificaciones>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-5" style="color:#4863A0">Lista de calificaciones</h1>
</div>

<p>
    <a class="btn btn-primary" asp-action="Create">Nueva Calificaciones</a>
</p>
<table id="faculties-tb" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modulo)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.primer_apellido)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modulo.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.EstadoNombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <!-- jQuery -->
    <script language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <!-- El JavaScript de DataTables -->
    <script language="javascript" type="text/javascript" src=" https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#TblCalificaciones').DataTable();
        });

    </script>

}