@model WebApp.Models.SolicitudServicio

@{
    ViewData["Title"] = "Detalles de solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2 class="text-center mr-5 pb-2" style="color:#4863A0">Detalles de la solicitud</h2>

<div class="row">
    <div class="col-xl-5">
        <hr />

        <dl class="row">

            <dt class="col-sm-5">
                Estudiante
            </dt>
            <dd class="col-sm-7">
                <h5>
                    @Html.DisplayFor(model => model.Usuario.primer_nombre)
                    @Html.DisplayFor(model => model.Usuario.primer_apellido)
                </h5>
            </dd>
            <dt class="col-sm-5">
                Correo
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Usuario.Email)
            </dd>
            <dt class="col-sm-5">
                Fecha y hora de solicitud
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Fecha)
            </dd>
            <dt class="col-sm-5">
                Servicio
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Servicio.Servicio_Descripcion)
            </dd>
            <dt class="col-sm-5">
                Fecha de inicio del servicio
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Servicio.Servicio_FechaInicio)
            </dd>
            <dt class="col-sm-5">
                Estado de la solicitud
            </dt>
            <dd class="col-sm-7">

                @if (User.IsInRole("Administrador"))
                {
                    <form asp-action="CambiarEstado">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <select asp-for="IdEstado" class="form-control-sm">
                                @if (Model.IdEstado == "A")
                                {
                                    <option value="A">@Model.Estado.EstadoNombre</option>
                                }
                                <option value="P">Pendiente de documentos</option>
                                <option value="N">Aceptar solicitud (inscribir)</option>
                            </select>
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </form>
                }
                else
                {
                    <strong style="color:#910400">@Html.DisplayFor(model => model.Estado.EstadoNombre)</strong>
                }

            </dd>
        </dl>

        @if (Model.IdEstado == "N")
        {
            <div>

                <hr />

                <h3>Entrega de proyecto</h3>
                <h5>Anteproyecto</h5>
                <div class="border row" style="padding:10px">
                    @*Anteproyecto enviado*@
                    @{ var docAnteproyecto = Model.DocumentosEntregados.FirstOrDefault(d => d.Tipo == TipoArchivo.AnteProyecto);}
                    @if (docAnteproyecto != null)
                    {
                        <div class="col-sm-9">
                            <span>Anteproyecto enviado en fecha y hora @docAnteproyecto.Fecha.ToString("dd/MM/yyyy hh:mm tt")</span>
                        </div>
                        <div class="col-sm-3">
                            <a asp-action="Descargar" asp-controller="Archivos" asp-route-idArchivo="@docAnteproyecto.IdArchivo" class="btn btn-secondary">Descargar</a>
                        </div>
                    }
                    @*Aun no ha enviado el anteproyecto, mostrar opción*@
                    else
                    {
                        <div class="col-sm-9">
                            <span> Aún no ha enviado el anteproyecto</span>
                        </div>
                        <div class="col-sm-3">
                            <a asp-action="CargarDocumento" asp-route-id="@Model.Id" asp-route-tipo="@TipoArchivo.AnteProyecto" class="btn btn-primary">Enviar</a>
                        </div>
                    }
                </div>

                <h5>Proyecto</h5>
                <div class="border row" style="padding:10px">
                    @*Envió el anteproyecto y no ha enviado el proyecto, mostrar opción*@
                    @if (Model.DocumentosEntregados.Any(d => d.Tipo == TipoArchivo.AnteProyecto))
                    {
                        var docProyecto = Model.DocumentosEntregados.FirstOrDefault(d => d.Tipo == TipoArchivo.Proyecto);
                        @if (docProyecto != null)
                        {
                            <div class="col-sm-9">
                                <span>Proyecto enviado en fecha y hora @docProyecto.Fecha.ToString("dd/MM/yyyy hh:mm tt")</span>
                            </div>
                            <div class="col-sm-3">
                                <a asp-action="Descargar" asp-controller="Archivos" asp-route-idArchivo="@docProyecto.IdArchivo" class="btn btn-secondary">Descargar</a>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-9">
                                <span> Aún no ha enviado el proyecto</span>
                            </div>
                            <div class="col-sm-3">
                                <a asp-action="CargarDocumento" asp-route-id="@Model.Id" asp-route-tipo="@TipoArchivo.Proyecto" class="btn btn-primary">Enviar</a>
                            </div>
                        }
                    }
                    else
                    {<span>Una vez envíe el anteproyecto será posible enviar el proyecto</span>}

                </div>
            </div>
        }

    </div>

    <div class="col-xl-6">
        <hr />
        <h3 class="text-center">Documentos entregados</h3>
        <div class="col-md-10 col-md-offset-10">
            <div title="Cargar" class="pb-3 pull-right">
                <br />
                @*<h5 class="pl-3 pb-1 row">Cargar</h5>*@

                @*Inscrito y aun no ha hecho el pago, mostrar opción*@
                @if (Model.IdEstado == "N" && !Model.DocumentosEntregados.Any(d => d.Tipo == TipoArchivo.Pago))
                {<a asp-action="CargarDocumento" asp-route-id="@Model.Id" asp-route-tipo="@TipoArchivo.Pago" class="btn btn-primary">Enviar recibo de pago</a>}

                <a asp-action="CargarDocumento" asp-route-id="@Model.Id" asp-route-tipo="@TipoArchivo.Otro" class="btn btn-primary">Enviar documento de requerimiento</a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Archivo</th>
                    <th></th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var archivo in Model.DocumentosEntregados.Where(d => d.Tipo != TipoArchivo.AnteProyecto && d.Tipo != TipoArchivo.Proyecto))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => archivo.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => archivo.NombreArchivo)
                        </td>
                        <td>
                            <a asp-action="Descargar" asp-controller="Archivos" asp-route-idArchivo="@archivo.IdArchivo" class="btn btn-secondary">Descargar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    @if (User.IsInRole("Administrador"))
    {<a asp-action="Index">Regresar a la lista de solicitudes</a>}
</div>
