@model WebApp.Models.SolicitudServicio

@{
    ViewData["Title"] = "Detalles de solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1 class="text-center mr-5 pb-2" style="color:#4863A0">Detalles de la solicitud</h1>

<div class="row">
    <div class="col-xl-5">
        <hr />

        <dl class="row">

            <dt class="col-sm-5">
                Estudiante
            </dt>
            <dd class="col-sm-7">
                <h5>
                    @Html.DisplayFor(model => model.Usuario.primer_nombre)
                    @Html.DisplayFor(model => model.Usuario.primer_apellido)
                </h5>
            </dd>
            <dt class="col-sm-5">
                Correo
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Usuario.Email)
            </dd>
            <dt class="col-sm-5">
                Fecha y hora de solicitud
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Fecha)
            </dd>
            <dt class="col-sm-5">
                Servicio
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Servicio.Servicio_Descripcion)
            </dd>
            <dt class="col-sm-5">
                Fecha de inicio del servicio
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Servicio.Servicio_FechaInicio)
            </dd>
            <dt class="col-sm-5">
                Estado de la solicitud
            </dt>
            <dd class="col-sm-7">

                @if (User.IsInRole("Administrador"))
                {
                    <form asp-action="CambiarEstado">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <select asp-for="IdEstado" class="form-control-sm">
                                @if (Model.IdEstado == "A")
                                {
                                    <option value="A">@Model.Estado.EstadoNombre</option>
                                }
                                <option value="P">Pendiente de documentos</option>
                                <option value="N">Aceptar solicitud (inscribir)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </form>
                }
                else
                {
                    <strong style="color:#910400">@Html.DisplayFor(model => model.Estado.EstadoNombre)</strong>
                }

            </dd>

        </dl>

    </div>

    <div class="col-xl-6">
        <hr />
        <h3 class="text-center">Documentos entregados</h3>
        <Div title="Cargar" class="pb-3">
            <hr />
            <h5 class="pl-3 pb-1 row">Cargar</h5>
            @if (!Model.DocumentosEntregados.Any(d => d.Tipo == TipoArchivoSolicitud.Pago))
            {<a asp-action="CargarDocumento" asp-route-id="@Model.Id" asp-route-tipo="@TipoArchivoSolicitud.Pago" class="btn btn-primary">Pago</a>}
            <a asp-action="CargarDocumento" asp-route-id="@Model.Id" asp-route-tipo="@TipoArchivoSolicitud.Proyecto" class="btn btn-primary">Proyecto</a>
            <a asp-action="CargarDocumento" asp-route-id="@Model.Id" asp-route-tipo="@TipoArchivoSolicitud.AnteProyecto" class="btn btn-primary">Anteproyecto</a>
            <a asp-action="CargarDocumento" asp-route-id="@Model.Id" asp-route-tipo="@TipoArchivoSolicitud.Otro" class="btn btn-primary">Otros</a>
        </Div>

        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Archivo</th>
                    <th></th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var archivo in Model.DocumentosEntregados)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => archivo.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => archivo.NombreArchivo)
                        </td>
                        <td>
                            <a asp-action="Descargar" asp-controller="Archivos" asp-route-idArchivo="@archivo.IdArchivo" class="btn btn-secondary">Descargar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    @if (User.IsInRole("Administrador"))
    {<a asp-action="Index">Regresar a la lista</a>}
</div>
