@model WebApp.Models.Requerimiento

@{
    ViewData["Title"] = "Eliminar requerimiento";
}

<h1>Eliminar requerimiento</h1>

<h3>¿Está seguro que quiere eliminar el requerimiento?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoServicioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoServicio.TipoServicioDescripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EscuelaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escuela.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArchivoId)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Archivos" asp-action="Descargar" asp-route-idArchivo="@Model.ArchivoId">Descargar</a>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCodigo)
        </dt>
        <dd class="col-sm-10">
            @($"{Model.Usuario.primer_nombre} {Model.Usuario.primer_apellido} <{Model.Usuario.Email}>")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
</div>
