@model IEnumerable<WebApp.Models.Requerimiento>

@{
    ViewData["Title"] = "Requerimientos";
}

<h1 class="text-center pb-2" style="color:#4863A0">Requerimientos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-2">Agregar Requerimiento</a>
</p>
<table id="reqs-tb" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                <span id="rq-type-head">@Html.DisplayNameFor(model => model.TipoServicioId)</span>
            </th>
            <th>
                <span id="rq-school-head">@Html.DisplayNameFor(model => model.EscuelaId)</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivoId)
            </th>
            <th>
                <span id="rq-state-head">@Html.DisplayNameFor(model => model.Estado)</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoServicio.TipoServicioDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escuela.Nombre)
            </td>
            <td>
                <a asp-controller="Archivos" asp-action="Descargar" asp-route-idArchivo="@item.ArchivoId">Descargar</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-codigo="@item.Codigo" class="btn btn-primary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>

                @if (item.Estado == EstadoRequerimiento.Activo)
                {<a asp-action="Inactivate" asp-route-id="@item.Id" class="btn btn-warning">Inactivar</a>}
                else
                {<a asp-action="Activate" asp-route-id="@item.Id" class="btn btn-success">Activar</a>}
            </td>
        </tr>
        }
    </tbody>
</table>
