@model WebApp.Models.Escuela
@using WebApp.Models

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Detalles</h1>

<div>
    <h4>Escuela</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EscuelaCodigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EscuelaCodigo)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdFacultad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdFacultad)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EscuelaNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EscuelaNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.EscuelaId">Editar</a> |
    <a asp-action="Index">Regresar a la Lista</a>
</div>
