@model WebApp.Models.Escuela

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="col-8">
    <div class="card">
        <div class="card-header">
            <h4 class="p-3 mb-2 bg-primary text-white text-center">Detalles</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <dl class="row">
                    <div class="col">
                        <dt>
                            Código
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CodigoEscuela)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                    </div>
                    <div class="col">
                        <dt>
                            Facultad
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Facultad.NombreFacultad)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Estado)
                        </dd>
                    </div>
                </dl>
            </div>
            <div>
                <a asp-action="Editar" class="btn btn-primary" asp-route-id="@Model.Id">Editar</a>
                <a asp-action="Index" class="btn btn-secondary">Regresar </a>
            </div>
        </div>
    </div>
</div>