@model IEnumerable<WebApp.Models.Escuela>
@using WebApp.Models.Enums;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Registrar Nueva</a>
</p>
<table id="schools-tb" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEscuela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facultad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                <span id="sc-state-head">@Html.DisplayNameFor(model => model.Estado)</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEscuela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facultad.NombreFacultad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                @if (item.Estado == (( Estados ) 1))
                {
                    <a asp-action="Inactivate" asp-route-id="@item.Id" class="btn btn-warning">Inactivar</a>
                }
                else
                {
                    <a asp-action="Activate" asp-route-id="@item.Id" class="btn btn-success">Activar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
