@model IEnumerable<WebApp.Models.Escuela>
@using WebApp.Models

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Escuelas</h1>

<p>
    <a asp-action="Create">Registrar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EscuelaCodigo)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Facultad)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.EscuelaNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EscuelaCodigo)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Facultad.FacultadNombre)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.EscuelaNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EscuelaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EscuelaId">Ver</a> |
                <a asp-action="Delete" asp-route-id="@item.EscuelaId">Eliminar</a>
                @if (item.EstadoId == "A")
                {
                    <a asp-action="Inactivate" asp-route-id="@item.EscuelaId">Inactivar</a>
                }
                else
                {
                    <a asp-action="Activate" asp-route-id="@item.EscuelaId">Activar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
