@model WebApp.Models.Carrera
@using WebApp.Models.Enums;
@{
    ViewData["Title"] = "Detalles";
}

<div class="col-8">
    <div class="card">
        <div class="card-header">
            <h4 class="p-3 mb-2 bg-primary text-white text-center">Detalles</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <dl class="row">
                    <div class="col">
                        <dt ">
                            @Html.DisplayNameFor(model => model.Codigo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Codigo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                    </div>
                    <div class="col">
                        <dt>
                            Facultad
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Escuela.Facultad.NombreFacultad)
                        </dd>
                        <dt>
                            Escuela
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Escuela.Nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Estado)
                        </dd>
                    </div>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Editar</a> 
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.Id">Eliminar</a> 
                @if (Model.Estado == ((Estados)1))
                {
                    <a asp-action="Inactivate" class="btn btn-warning" asp-route-id="@Model.Id">Inactivar</a>
                }
                else
                {
                    <a asp-action="Activate" class="btn btn-success" asp-route-id="@Model.Id">Activar</a>
                }
                <br /><br />
                <a asp-action="Index" class="btn btn-secondary">Regresar </a>
            </div>
        </div>
    </div>
</div>