@model WebApp.Models.Carrera
@using WebApp.Models.Enums;
@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Carrera</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            Facultad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escuela.Facultad.NombreFacultad)
        </dd>
        <dt class="col-sm-2">
            Escuela
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escuela.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Estado != (Estados)(-1))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    } |
    <a asp-action="Index">Regresar a la lista</a>
</div>
