@model IEnumerable<WebApp.Models.Carrera>
@using WebApp.Models
@{
    ViewData["Title"] = "Carreras";
}

<h1>Carreras</h1>

<p>
    <a asp-action="Create">Registrar nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarreraId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarreraCodigo)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.CarreraNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarreraId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarreraCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarreraNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoId)
            </td>
            <td>
                @if (item.EstadoId == "I")
                {
                    <a asp-action="Details" asp-route-id="@item.CarreraId">Detalles</a>
                }
                else
                {
                    <a asp-action="Edit" asp-route-id="@item.CarreraId">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.CarreraId">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.CarreraId">Eliminar</a>
                    if (item.EstadoId == "A")
                    {
                        <a asp-action="Inactivate" asp-route-id="@item.CarreraId">Inactivar</a>
                    }
                    else
                    {
                        <a asp-action="Activate" asp-route-id="@item.CarreraId">Activar</a>
                    }
                }

            </td>
        </tr>
        }
    </tbody>
</table>
